h1 {
  color: blue;
}

body, html {
  background-color: : #ccc;
}

.portfolio-tab {
  padding: 20px;
  display: block;
}

.selected-tab {
  font-weight: bold;
  background-color: #ccc
}

.portfolio-tab:hover {
  text-decoration: underline;
  cursor: pointer;
}

.tab-content {
  display: block;
}

.tab-hidden {
  display: none !important;
}

.padded-rows tr, .padded-rows th, .padded-rows td {
  padding: 6px;
}
